.pagination {
    display: flex;
    gap: 20px;
    align-items: center;
}

.backButton, .forwardButton, .pageButton, .pageButtonActive {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: red;
}


.userListContainer {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pageButtonActive {
    opacity: 0.6;
  }